/*

Each of these CSS elements is associated with an HTML Element, Class, or ID.
Flip between this CSS file and the HTML to see how things line up.
Experiment with deleting lines of code from the CSS to see how it affects the webpage when you refresh in the browser.

*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    background-image: url("../image/background.png");
  }
  
  header {
    background: #466BB0 ;
    margin-bottom: 1px;
  }
 
  a {
    color: #B04B46;
  }

  #bio-image {
    width: 300px;
    margin: 0px 40px 20px 0px;
    float: left;
  }
  
  .footer {
    background: #466BB0 ;
    margin-top: 1px;
    margin-bottom: 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #466BB0;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 12px;
  }

  img{
    margin: 4px;
  }
  
  button{
    background-color: #466BB0;
    color: #466BB0;
  }

  li {
    /* float: left; */
    background-color: #95B046;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    color: white;
  }
   
  a:hover {
    background-color: #000000;
    color: white;
  }

  li a:hover {
    background-color: #000000;
    color: white;
  }

  .active {
    color: white;
    background-color: #B04B46;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
  }